<nav class="navbar">
    <div class="navbar-header">
        <a href="{{ path('app_front_home_index') }}" class="nav-item nav-link nav-brandlink">Shop</a>
        <button id="navbar-toggle" class="navbar-toggle"><i class="fas fa-bars"></i></button>
    </div>

    <div class="navbar-collapse">
        <a href="{{ path('app_front_category_index') }}" class="nav-item nav-link {{ active(app.request, 'app_front_category_index') }}">{% trans %}All categories{% endtrans %}</a>

        {{ NavigationService.generateHtml() | raw }}

        <div class="nav-item nav-item-search">
            <input class="form-search-input" type="search" data-url="{{ path('app_front_home_search') }}">
        </div>

        {% if app.user %}
            <a href="{{ path('app_front_user_profile') }}" class="nav-item nav-link nav-brandlink">{{ app.user.name }}</a>
            <a href="{{ path('app_auth_security_logout') }}"
            class="nav-item nav-link nav-brandlink text-danger">{% trans %}Logout{% endtrans %}</a>
        {% endif %}

        {% if not app.user %}
            <a href="{{ path('app_auth_register') }}"
            class="nav-item nav-link btn btn-register">{% trans %}Register{% endtrans %}</a>
            <a href="{{ path('app_auth_security_login') }}"
            class="nav-item nav-link btn btn-login">{% trans %}Login{% endtrans %}</a>
        {% endif %}

        <div id="cart-nav" class="nav-item nav-item-cart"
            data-cart-items="{{ CartManager.items | json_encode(constant('JSON_FORCE_OBJECT')) }}"
            data-purchase-url="{{ path('app_front_purchase_purchase') }}"
            data-currency="{{ parameter('billing', 'currency').code }}">
        </div>
    </div>
</nav>
