<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('app_home_index') }}">Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="{% trans %}Toggle navigation{% endtrans %}">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse hide">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path('app_category_index') }}"
                   class="nav-link {{ active('app_category_index') }}">{% trans %}All categories{% endtrans %}</a>
            </li>
            {{ navigation() }}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item form-search" id="form-search">
                <input type="search" data-url="{{ path('app_home_search') }}" class="form-control form-search-input">
            </li>
        </ul>
        <section class="navbar-nav ml-auto mt-3 mt-xl-0">
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">{{ app.user.name }}</a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link text-danger"
                           href="{{ path('app_auth_security_logout') }}">{% trans %}Logout{% endtrans %}</a>
                    </li>
                {% endif %}

                {% if not app.user %}
                    <li class="nav-item mr-2">
                        <a class="btn btn-outline-info"
                           href="{{ path('app_auth_register') }}">{% trans %}Register{% endtrans %}</a>
                        <a class="btn btn-link text-info"
                           href="{{ path('app_auth_security_login') }}">{% trans %}Login{% endtrans %}</a>
                    </li>
                {% endif %}

                <li id="cart-nav" class="nav-item">
                    {#                    <header-cart-component></header-cart-component>#}
                </li>
            </ul>
        </section>
    </div>
</nav>
