<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('home.index') }}">Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="{% trans %}Toggle navigation{% endtrans %}">
        <span class="navbar-toggler-icon"/>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                {#                <a href="{{ path('categories.index') }}"#}
                {#                   class="nav-link {{ is_active('categories.index') }}">{% trans %}All categories'{% endtrans %}</a>#}
            </li>
            {#            {{ navigation() }}#}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item form-search" id="form-search">
                {#                <input type="search" data-url="{{ path('home.search') }}" class="form-control form-search-input">#}
            </li>
        </ul>
        <section class="navbar-nav ml-auto mt-3 mt-xl-0">
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item">
{#                        <a href="{{ path('user.profile') }}" class="nav-link">{{ app.user.name }}</a>#}
                    </li>
                    <li class="nav-item mr-2">
                        {#                    <form class="form-inline" action="{{ route('logout') }}" method="post">#}
                        {#                        @csrf#}
                        <button class="btn nav-link text-danger">{% trans %}Logout{% endtrans %}</button>
                        </form>
                    </li>
                {% endif %}

                {% if not app.user %}
                    <li class="nav-item mr-2">
                        {#                    <a class="btn btn-outline-info" href="{{ path('register') }}">{% trans %}Register{% endtrans %}</a>#}
                        {#                    <a class="btn btn-link text-info" href="{{ path('login') }}">{% trans %}Login{% endtrans %}</a>#}
                    </li>
                {% endif %}

                <li id="cart-nav" class="nav-item">
                    {#                    <header-cart-component></header-cart-component>#}
                </li>
            </ul>
        </section>
    </div>
</nav>
