<nav class="navbar">
    <div class="navbar-header">
        <a href="{{ path('app_front_home_index') }}" class="nav-item nav-link nav-brandlink">Shop</a>
        <button id="navbar-toggle" class="navbar-toggle"><i class="fas fa-bars"></i></button>
    </div>

    <div class="navbar-collapse">
        <div class="nav-item">
            <a class="nav-link{{ active(app.request, 'app_front_category_index') }}"
               href="{{ path('app_front_category_index') }}">{% trans %}All categories{% endtrans %}</a>
        </div>

        {{ NavigationService.generateHtml() | raw }}

        <div class="nav-item nav-item-search">
            <input class="form-search-input form-control form-control-sm" type="search"
                   aria-label="{% trans %}Search{% endtrans %}"
                   data-url="{{ path('app_front_home_search') }}">
        </div>

        {% if app.user %}
            <div class="nav-item">
                <a class="nav-link{{ active(app.request, 'app_front_user_profile') }}" id="nav-link-profile"
                   href="{{ path('app_front_user_profile') }}">{{ app.user.name }}</a>
            </div>

            <div class="nav-item">
                <a class="nav-link btn btn-login"
                   href="{{ path('app_auth_security_logout') }}">{% trans %}Logout{% endtrans %}</a>
            </div>
        {% endif %}

        {% if not app.user %}
            <div class="nav-item">
                <a class="nav-link btn btn-primary{{ active(app.request, 'app_auth_register') }}"
                   href="{{ path('app_auth_register') }}">{% trans %}Register{% endtrans %}</a>
            </div>

            <div class="nav-item">
                <a class="nav-link btn btn-login{{ active(app.request, 'app_auth_security_login') }}"
                   href="{{ path('app_auth_security_login') }}">{% trans %}Login{% endtrans %}</a>
            </div>

            {% if app.environment == 'dev' %}
                <div class="nav-item">
                    <a class="nav-link btn btn-login{{ active(app.request, 'app_auth_security_usurp_index') }}"
                       href="{{ path('app_auth_security_usurp_index') }}">{% trans %}Usurp{% endtrans %}</a>
                </div>
            {% endif %}
        {% endif %}

        <div id="cart-nav" class="nav-item nav-dropdown nav-item-cart"
             data-cart-items="{{ CartManager.items | json_encode(constant('JSON_FORCE_OBJECT')) }}"
             data-purchase-url="{{ path('app_front_purchase_purchase') }}"
             data-currency="{{ parameter('billing', 'currency').code }}">
        </div>
    </div>
</nav>
