{% set url = path('app_product_show', {
    productId: product.id,
    productSlug: product.slug,
    categoryId: product.category.id,
    categorySlug: product.category.slug,
}) %}
<article class="product">
    {% if product.mainImage %}
        <a href="{{ url }}">
            <img src="{{ product.mainImage.urlThumbnail }}" class="card-img-top" alt="{{ product.label }}">
        </a>
    {% endif %}
    <div class="card-body">
        <h3 class="card-title">
            <a href="{{ url }}">{{ product.label }}</a>
        </h3>
    </div>
</article>