{% extends "_layouts/pdf.html.twig" %}

{% block title %}
    {% trans %}Billing{% endtrans %}: {{ billing.number }}
{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <p>
                    <strong>Shop</strong><br>
                    {{ parameter('billing', 'address').line1 }} <br>
                    {% if parameter('billing', 'address').line2 %}
                        {{ parameter('billing', 'address').line2 }}<br>
                    {% endif %}
                    {{ parameter('billing', 'address').postal_code }} {{ parameter('billing', 'address').city }}
                    {{ parameter('billing', 'address').country }}<br>
                    <br>
                </p>
                <p>
                    <i class="fas fa-phone"></i> {{ parameter('billing', 'phone_number') }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset-6 col text-right">
                <strong>{{ billing.user.name }}</strong><br>
                {{ billing.addressLine1 }}<br>
                {% if billing.addressLine2 %}
                    {{ billing.addressLine2 }}
                {% endif %}
                {{ billing.addressPostalCode }} {{ billing.addressCity }}<br>
                {{ billing.addressCountry }}
            </div>
        </div>

        <p class="lead">
            {% trans %}Billing number{% endtrans %}: {{ billing.number }}<br>
            {% trans %}Billing date{% endtrans %}: {{ billing.updatedAt | date('d F Y') }}
        </p>

        <table class="table table-striped my-5">
            <thead>
            <tr>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Quantity{% endtrans %}</th>
                <th>{% trans %}Unit price excluding taxes{% endtrans %}</th>
                <th>{% trans %}Taxes{% endtrans %}</th>
                <th>{% trans %}Total amount including taxes{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in billing.items %}
                <tr>
                    <td>{{ item.productReference.label }}</td>
                    <td>{{ item.quantity }}</td>
                    <td class="text-right">{{ item.productReference.unitPriceExcludingTaxes | price }}</td>
                    <td class="text-right">{{ item.priceOfTaxes | price }}</td>
                    <td class="text-right">{{ item.amountIncludingTaxes | price }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="header-cart-total">
            <tr>
                <td class="border-0" colspan="4">{% trans %}Total amount excluding taxes{% endtrans %} :</td>
                <td class="border-0">{{ billing.totalAmountExcludingTaxes | price }}</td>
            </tr>
            <tr class="header-cart-total-vat">
                <td class="border-0" class="text-right" colspan="4">{% trans %}Including taxes{% endtrans %}</td>
                <td class="border-0">{{ billing.includingTaxes | price }}</td>
            </tr>
            <tr style="font-size: 1.5rem;">
                <td class="border-0" class="text-right"
                    colspan="4">{% trans %}Total amount including taxes{% endtrans %} :
                </td>
                <td class="border-0">{{ billing.totalAmountIncludingTaxes | price }}</td>
            </tr>
            </tfoot>
        </table>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores exercitationem iusto quis repudiandae
            sapiente? Ab aliquid consequatur cupiditate deleniti, eum illum laborum maxime, mollitia, nam nobis non
            officiis saepe voluptatem.
        </p>
    </div>
{% endblock %}