{% extends "_layouts/app.html.twig" %}

{% block title %}
    {{ category.label }}
{% endblock %}

{% block script 'category-show' %}

{% block body %}
    <!--suppress CheckTagEmptyBody -->
    <main class="container">
        {{ breadcrumb(breadcrumb) }}

        <section class="header-category-show">
            {% if category.image %}
                <img src="{{ category.image.url }}" alt="{{ category.image.alt }}">
            {% endif %}

            <h1>{{ category.label }}</h1>
        </section>

        <section id="category-show" class="row">
            {% if productFieldsInJson is not empty %}
                <div class="col-lg-3">
                    <section id="product-fields-component" data-product-fields="{{ productFieldsInJson }}"></section>
                </div>
            {% endif %}

            <div class="col-lg">
                <section id="products-component" data-products="{{ productsInJson }}"></section>
            </div>
        </section>
    </main>
{% endblock %}