{% extends "_layouts/app.html.twig" %}

{% block title category.label %}

{% block script 'category-show' %}

{% block body %}
    <main class="container">
        {{ breadcrumb(breadcrumb) }}

        <section class="header-category-show">
            {% if category.image %}
                <img src="{{ category.image.url }}" alt="{{ category.image.alt }}">
            {% endif %}

            <h1>{{ category.label }}</h1>
        </section>

        <section id="category-show" class="row">
            {% if productsInJson is not empty %}
                <div class="col-lg-3">
                    <section id="product-fields-component" data-product-fields="{{ productFieldsInJson }}"></section>
                </div>
            {% else %}
                <p>
                    {% trans %}Sorry! No products found.{% endtrans %}
                </p>
            {% endif %}

            {% if productFieldsInJson is not empty and productsInJson is not empty %}
                <div class="col-lg">
                    <section id="products-component" data-products="{{ productsInJson }}"
                             data-current-page="{{ currentPage }}" data-per-page="{{ perPage }}"
                             data-currency="{{ parameter('billing', 'currency').code }}">
                    </section>
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}