{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {% if widget_element is not defined %}
        <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
            {{- form_widget(form, widget_attr) -}}
            {{- form_help(form) -}}
        </div>
    {% else %}
        <{{ widget_element }}{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}></{{ widget_element }}>
    {% endif %}
{%- endblock form_row -%}