{% extends '_layouts/app.html.twig' %}

{% block title %}
    {% trans %}Register{% endtrans %}
{% endblock %}

{% block script 'auth-register' %}

{% block body %}
    <section class="container mt-4">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <h1>{% trans %}Register{% endtrans %}</h1>
                {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.name) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.email) }}
                    </div>
                </div>

                <h2 class="h4">{% trans %}Enter your password{% endtrans %}</h2>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.password) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.password_confirmation) }}
                    </div>
                </div>

                {{ form_row(registrationForm.is_agree_with_terms) }}
                <button class="btn btn-primary">{% trans %}Register{% endtrans %}</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
