{% extends '_layouts/app.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="container mt-4">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    {% trans with {'%username%' : app.user.username } %}You are logged in as %username%{% endtrans %},
                    <a href="{{ path('app_auth_security_logout') }}">{% trans %}Logout{% endtrans %}</a>
                </div>
            {% endif %}

            <h1>{% trans %}Log in{% endtrans %}</h1>

            <div class="form-group">
                <label for="login_form_email" class="required">{% trans %}E-mail{% endtrans %}</label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-envelope-open"></i></span>
                    </div>
                    <input type="email" class="form-control" id="login_form_email"
                           name="email" required
                           placeholder="Enter your e-mail" value="{{ last_username }}" autofocus>
                    <div class="invalid-feedback">This value should not be blank.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="login_form_password" class="required">{% trans %}Password{% endtrans %}</label>
                <input type="password" class="form-control" id="login_form_password"
                       name="password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group row">
                <div class="col-md-6">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="_remember_me" id="_remember_me">
                        <label for="_remember_me"
                               class="custom-control-label">{% trans %}Remember me{% endtrans %}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('app_forgot_password_request') }}"
                       class="btn btn-link">{% trans %}Forgot your password ?{% endtrans %}</a>
                </div>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">
                {% trans %}Sign in{% endtrans %}
            </button>
        </form>
    </section>
{% endblock %}
